/* .to-do-items{

} */
body{
  background-image: url("./images/20150701_122537.jpg");
  background-position: top center; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

    .flex-container {


          display: flex;
          flex-wrap: wrap;
          flex-direction: column;

          align-items: center;
          /* flex-direction: row;

          /* justify-content: space-between; */
           justify-content: center;
          justify-content: space-around;
          
        }
        
         .flex-container > div {
          /* background-color: #42c5f4; */
           margin: 10px;
          padding: 0px 10px 10px 20px; 
          font-size: 20px;
          
          
        } 
        td {
          padding-right: 30px;
        }
       
        .table{
          background-color: rgba(211, 211, 211, 0.698);
          color: black;
          border-radius: 25px;
          padding: 10px 0px 10px 0px;
          /* margin-right: 250px;
          margin-bottom:250px; */
        }
      
        .sub-container{
          /* background-color: white; */
          /* border: black solid 1px; */
        }
         .TableHeader{
           background-color: rgb(5, 179, 5);
           padding: 0px;
           margin: 0px;
           width: 155px;
           border: 1px black solid;
           border-radius: 25px;
           text-align: center;
        }
        
        .menu-buttons{
          position: relative;
          padding: 10px;
          width: 300px;
           left: 60%; 
          
        }